

@import url('https://fonts.googleapis.com/css?family=Simonetta&display=swap');

*{
  font-family: 'Simonetta', cursive;
}

::-webkit-scrollbar{
  width: 8px;

}



::-webkit-scrollbar-thumb{
  background-color: black;
  }

  .footer{
    position: fixed;
    bottom: 0;
}